<h1>About</h1>
<h2>You are meeting Babul Nokrek, a 3 stacks Software Engineer -- Python, Ruby & MERN Stack!</h2>
<p>I am creative and passionate Software Developer! I love learning new techs and sharing those skills with 
the global community! I run several YouTube channels.</p>

<p>If you love technology --Coding, Web Programming, please feel free to check the folowing channels:</p>
<ul>
  <li>Programming for Juniors</li>
  <li>The Global Dream</li>
  <li>7 Minute School</li>
  <li>21 Minute School</li>
  

</ul>
<p>Currently, I am working on a project on Ruby on Rails! I love Ruby!</p>